body {
	background-image: url("finalbg.jpeg");
	/* background-color: #424242;
    font-family: Tahoma; */
    background-size: cover;
}
.container{
    align-items: center;
    justify-content: center;
    /* padding: 8px 8px 20px 8px;  */
    

    
}
#mainCont
{   
    padding: 30px;
    margin-top: 6rem;
    margin-left: 90%;
    /* margin: 30px;   */
    border-radius: 4px;
   	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #bdb1b1;
	border-left: 2px solid rgb(204, 174, 174);
}


.myMargin{
    margin:4px;
	font-size: 20px;
    font-weight: bold;
    background-color: #5f5b5b6b;
	

}
.myMargin:hover{
    background-color: rgb(22, 26, 243);
}
.myMargin1:hover{
    background-color: rgb(243, 85, 22);
}
.myMargin2:hover{
    background-color: rgb(147, 243, 22);
}

.myMargin1{
    margin:4px;
    font-size: 20px;
    font-weight: bold;
    background-color: #8b8a3a;
}
.myMargin2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: -1px -1px 0px #44006F; */
	 background-color: #434343; 
}
.col-md-4{
    margin: 2px;
    padding: 2px;
    text-align: center;
}
